
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,87.5,200..1000;0,6..12,100,200..1000;1,6..12,87.5,200..1000;1,6..12,100,200..1000&display=swap');



*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: 0;
}




body{
  background-color: black;
}

main{
  
  background: url(../img/BG.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
    justify-content: center;
    align-items: flex-end;
    padding: 80px;
}





h3{margin: 0;
  font-size: 64px;
  color: white;
  text-align: center;
  z-index: 2;
  opacity: 75%;
  font-family:"Nunito Sans";
  padding-bottom: 48px;
    font-family: "Nunito Sans", serif;
    font-optical-sizing: 12;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }


p{
  font-size: 20px;
  color: white;
  text-align: center;
  z-index: 2;
  margin:11px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Nunito Sans", serif;
    font-optical-sizing: 12;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}


.btn-new {
  border: solid white 1px;
  border-radius: 100px;
  text-decoration: none;
  background-color:#0A0A28 ;
  color: none;
  cursor: pointer;
z-index: 4;

}

.btn-new:hover {

  background-color: #0E1C65;
 
}


.wrapper{
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

